.toc
  %strong Contents
  %ul
    %li
      %a{href: "index.html"} Welcome
    %li
      %a{href: "setup.html"} Setup
      %ul
        %li
          %a{href: "setup.html#aws-account"} AWS Account
        %li
          %a{href: "setup.html#region"} Region
        %li
          %a{href: "setup.html#aws-cloud9-ide"} AWS Cloud9 IDE
    %li
      %a{href: "index.html#sections"} Sections
      %ul
        %li
          %a{href: "index.html#introduction"} Introduction
          %ol
            %li
              %a{href: "getting-started-with-amazon-ecs-using-aws-fargate.html"} Getting Started with Amazon ECS using AWS Fargate
            %li
              %a{href: "create-a-docker-image-repository.html"} Create a Docker Image Repository
            %li
              %a{href: "build-and-push-a-docker-image.html"} Build and Push a Docker Image
            %li
              %a{href: "create-a-service.html"} Create a Service
        %li
          %a{href: "index.html#cicd"} CI/CD
        %ol
          %li
            %a{href: "build-a-continuous-deployment-pipeline.html"} Build a Continuous Deployment Pipeline
